<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Loot!</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script>const whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true };</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        .playername p {
            margin: 0
        }

        .playername .spec {
            font-size: 0.5em
        }

        body {
            max-width : 1200px !important
        }

        td {
            border: 1px solid #444;
        }

        sl {
            display:inline-block;
            text-align: center;
            width: 100%;
        }

        th {
            position: sticky;
            top: 0;
            background-color: #202b38;
        }

        .tooltipContainer .tooltip {
            visibility: hidden;
            width: 150px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }

        .tooltipContainer:hover>.tooltip {
            visibility: visible;
        }

        .receivedLoot {
            text-decoration: line-through !important;
        }
    </style>
</head>

<body>
    <nav role=" navigation">
    <h4>Updated {{.UpdateDate}}</h4>
        <div>
            <ul>
                <li><a href="p1.html">Phase 1</a></li>
                <li><a href="p2.html">Phase 2</a></li>
                <li><a href="p3.html">Phase 3</a></li>
                <li><a href="p4.html">Phase 4</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <th width="100px">Player</th>
                    {{if gt $.Phase 1}}
                    <th width="50px">Last WL</th>
                    {{end}}
                    <th width="50px">Wishlist</th>
                    {{if eq $.Phase 3}}
                    <th width="32px"><img src="https://wow.zamimg.com/images/wow/icons/large/inv_misc_trophy_argent.jpg" /></th>
                    {{end}}
                    {{if eq $.Phase 4}}
                    <th width="32px"><img src="https://wow.zamimg.com/images/wow/icons/large/ability_paladin_shieldofthetemplar.jpg" /></th>
                    {{end}}
                    {{range $.Slots}}
                    <th width="32px"><img src="{{ getSlotImage . }}" /></th>
                    {{end}}
                </tr>
            </thead>
            <tbody>
                {{range $character := .Data }}
                <tr>
                    {{$pd := getPhaseData $character $.Phase}}
                    <td class="playername">
                        <p style="color:{{getClassColor .Class}}">{{.Name}}</p>
                        <p class="spec">{{.Spec}}</p>
                    </td>
                    {{if gt $.Phase 1}}
                    <td class="tooltipContainer">
                        {{$ppd := getPhaseData $character (subtract $.Phase 1)}}
                        {{if $ppd.Wishlist.Total}}
                        <sl style="font-weight: lighter;">{{$ppd.Wishlist.Received}} / {{$ppd.Wishlist.Total}}</sl>
                        <div class="tooltip">
                            {{- range $ppd.Wishlist.WishlistLoot}}
                            <a href="https://www.wowhead.com/wotlk/item={{.ItemID}}" class="{{getLootStatusClass .}}"
                                data-wowhead="item={{.ItemID}}&domain=wotlk">{{.ItemName}}</a><br />
                            {{end}}
                        </div>
                        {{end}}
                    </td>
                    {{end}}
                    <td class="tooltipContainer">
                        {{if $pd.Wishlist.Total}}
                        <sl style="font-weight: bolder;">{{$pd.Wishlist.Received}} / {{$pd.Wishlist.Total}}</sl>
                        <div class="tooltip">
                            {{- range $pd.Wishlist.WishlistLoot}}
                            <a href="https://www.wowhead.com/wotlk/item={{.ItemID}}" class="{{getLootStatusClass .}}"
                                data-wowhead="item={{.ItemID}}&domain=wotlk">{{.ItemName}}</a><br />
                            {{end}}
                        </div>
                        {{end}}
                    </td>
                    {{if eq $.Phase 3}}
                    <td>
                        {{if $character.KeyItems.Trophies}}
                        <sl>{{$character.KeyItems.Trophies}}</sl>            
                        {{end}}        
                    </td>
                    {{end}}
                    {{if eq $.Phase 4}}
                    <td>
                        {{if $character.KeyItems.IccTokenInTier}}
                        <sl>{{$character.KeyItems.IccTokenInTier}}</sl>            
                        {{end}}        
                    </td>
                    {{end}}
                    {{- range $slot := $.Slots}}
                    {{$psd := getPhaseSlotData $pd $slot}}
                    <td class="tooltipContainer">{{- if $psd.InTier}}<sl
                            class="material-symbols-outlined">done</sl>{{- else if $psd.Items}}<sl
                            class="material-symbols-outlined">battery_horiz_050</sl>{{end}}
                        {{if $psd.Items}}
                        <div class="tooltip">
                            {{- range $psd.Items}}
                            <a href="https://www.wowhead.com/wotlk/item={{.ItemID}}" data-wowhead="item={{.ItemID}}&domain=wotlk">{{.ItemName}}</a><br />
                            {{end}}
                        </div>
                        {{end}}
                    </td>
                    {{- end}}
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
</body>

</html>